.answer__wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.answer__button {
  background-color: rgba(255, 255, 255);
  flex-basis: 47%;
  height: 10rem;
  border: none;
  border-radius: 1.6rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
}

.answer__button:hover {
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.answer__button--label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 4.2rem;
  line-height: 5.1rem;
  text-align: center;
}

.answer__button--correct {
  background: rgb(81, 252, 0);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 30px rgb(81, 252, 0);
  border-radius: 1.6rem;
}

.answer__button--wrong {
  background: rgb(255, 0, 0);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 30px rgb(255, 0, 0);
  border-radius: 1.6rem;
}
