.main-view {
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 3rem;
}

.navigation {
  grid-area: nav;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 1fr;
  column-gap: 6rem;
  padding: 2rem;
  margin-top: 2rem;
  justify-items: center;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-menu-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 30% 1fr 1fr;
  grid-template-rows: 9rem 1fr 15%;
  grid-template-areas:
    'img game-mode game-mode'
    'img game-rules game-rules'
    'img btn-white btn-red';
  row-gap: 4rem;
  column-gap: 6rem;
  padding: 2rem;
  justify-items: center;
}

.image-container {
  grid-area: img;
}

.game-mode-container {
  width: 100%;
  grid-area: game-mode;
}

.ranking-container {
  grid-area: game-rules;
  transition: all 0.3s ease;
  opacity: 0;
  width: 100%;
}

.mode-rules-container {
  grid-area: game-rules;
  transition: all 0.3s ease;
}

.btn-container {
  width: 100%;
}

.btn-container:first-of-type {
  grid-area: btn-white;
}

.btn-container:last-of-type {
  grid-area: btn-red;
}

@media screen and (max-width: 1300px) {
  .main-view {
    padding: 3rem;
  }
}

@media screen and (max-width: 1000px) {
  .main-view {
    padding: 1rem;
    height: 100%;
    gap: 0;
  }

  .navigation {
    display: flex;
    flex-direction: column;
  }

  .main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10% 1fr 10% 10%;
    grid-template-areas:
      'img'
      'game-mode'
      'game-rules'
      'btn-white'
      'btn-red';
    row-gap: 1rem;
    column-gap: 1rem;
    padding: 1rem;
    justify-items: center;
  }
}

@media screen and (max-width: 550px) {
  .image-container {
    width: 300px;
  }

  .main {
    grid-template-rows: 1fr 10% 1fr 5% 5%;
  }
}
