.main-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}

.navigation {
  display: grid;
  grid-template-columns: 30% 1fr;
  column-gap: 6rem;
  justify-items: center;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-menu-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-game-panel {
  padding: 2rem 0;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  grid-template-rows: 8rem 1fr 13%;
  grid-template-areas:
    'img game-mode game-mode'
    'img game-rules game-rules'
    'img btn-white btn-red';
  row-gap: 4rem;
  column-gap: 4rem;
  justify-items: center;
}

.main-game-panel .image-container {
  grid-area: img;
  width: 100%;
  position: relative;
}

.main-game-panel .game-mode-container {
  width: 100%;
  grid-area: game-mode;
}

.ranking-container {
  grid-area: game-rules;
  transition: all 0.3s ease;
  opacity: 0;
  width: 100%;
}

.mode-rules-container {
  grid-area: game-rules;
  transition: all 0.3s ease;
}

.btn-container {
  width: 100%;
}

.btn-container:first-of-type {
  grid-area: btn-white;
}

.btn-container:last-of-type {
  grid-area: btn-red;
}

@media screen and (max-width: 1300px) {
  .main-view {
    padding: 3rem 0;
  }
}

@media screen and (max-width: 1000px) {
  .main-view {
    padding: 1rem;
    height: 100%;
    gap: 0;
  }

  .navigation {
    display: flex;
    flex-direction: column;
  }

  .main-game-panel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10% 1fr 10% 10%;
    grid-template-areas:
      'img'
      'game-mode'
      'game-rules'
      'btn-white'
      'btn-red';
    row-gap: 1rem;
    column-gap: 1rem;
    padding: 1rem;
    justify-items: center;
  }
}

@media screen and (max-width: 550px) {
  .image-container {
    width: 300px;
  }

  .main {
    grid-template-rows: 1fr 10% 1fr 5% 5%;
  }
}
