.question {
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-weight: 600;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 40px rgba(255, 0, 0, 0.9),
    inset 4px 5px 4px rgba(0, 0, 0, 0.5);
  grid-area: game;
}

@media screen and (max-width: 1300px) {
  .question {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 1000px) {
  .question {
    font-size: 3.5rem;
    line-height: 3rem;
  }
}

@media screen and (max-width: 550px) {
  .question {
    font-size: 2.5rem;
  }
}
