.question {
  width: 100%;
  line-height: 9rem;
  background-color: #fff;
  color: #000;
  /* padding: 1rem; */
  font-weight: 600;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 40px rgba(255, 0, 0, 0.9),
    inset 4px 5px 4px rgba(0, 0, 0, 0.5);
  grid-area: game;
}
