.mode-rules_wrapper {
  width: 70%;
  height: min-content;
  background-color: white;
  padding: 4rem 2rem;
  grid-area: game;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mode-rules_title {
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.mode-rules_icon {
  margin-right: 1rem;
  width: 30px;
}

.mode-rules_content {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: justify;
  line-height: 3rem;
}
