.main-quiz-game {
  max-height: 70%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-template-rows: 1fr 7fr 2fr;
  grid-template-areas:
    'img game-mode'
    'img answers-cards'
    'timer timer';
  row-gap: 4rem;
  column-gap: 6rem;
}

.main-quiz-game .image-container {
  grid-area: img;
  align-self: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.main-quiz-game .game-mode-container {
  grid-area: game-mode;
}

.answers-card-container {
  grid-area: answers-cards;
}

.timer-container {
  grid-area: timer;
  align-self: end;
}

@media screen and (max-width: 1000px) {
  .main-guiz-game {
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 1fr 4fr 2fr;
    grid-template-areas:
    'img'
    'game-mode'
    'answers-cards'
    'timer';
    margin-top: 3rem;
  }
}