.btn {
  width: 100%;
  height: 100%;
  font-family: inherit;
  padding: 1rem;
}
.btn--red {
  background: rgba(255, 0, 0, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1.6rem;
  text-transform: uppercase;
}
.btn--label {
  font-weight: 500;
  font-size: 3.5rem;
  text-align: center;
  color: #ffffff;
}
