* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  margin: 0;
  background-color: #000;
  background-image: url('../static/assets/ui/QuizBackground.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

#swquiz-app {
  padding: 3rem 0;
}

.icon {
  float: left;
  height: 2rem;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.cover {
  opacity: 0;
}

