.swquiz-mainmenu {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255);
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25), 4px 4px 40px rgb(255, 0, 0, 0.9);
  border-radius: 16px;
}

.swquiz-mainmenu-item {
  font-size: 1.7rem;
  font-weight: 600;
  cursor: pointer;
}

.swquiz-mainmenu-item.selected {
  color: rgba(0, 0, 0);
  position: relative;
}

.swquiz-mainmenu-item.selected::after {
  content: '';
  position: absolute;
  z-index: 100;
  bottom: -1rem;
  left: 0;
  height: 6px;
  width: 100%;
  border-radius: 4px;
  background-color: rgba(255, 0, 0, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 40px rgba(255, 0, 0, 0.9);
}

@media (max-width: 600px) {
  .swquiz-mainmenu-item {
    font-size: 1.5rem;
  }
}
